.Btn{
    width: 100px;
    height: 25px;
    background-color: #2ecc71;
    border: none;
    border-radius: 5px;
    cursor: pointer;

     a{
        font-weight: bolder;
        text-decoration: none;
     }
}