section{
    .Character{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        img{
            @media (max-width: 768px){
                width: 250px;
            }
        }

        .nicks{
           width: 300px;

        
         
            h1{
                color: #e67e22;
            }

            p {
                font-weight: bolder;
               color: #2ecc71;
               padding-top: 10px;

               span{
                color: #e67e22;
               }
            }
        }
    }
}